@import "variable";

.main-nav {
  position: absolute;
  top: 5px;
  right: 10px;

  ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: right;
  }

  a {
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000;
  }
}
