@import "variable";

.tree-moon {
  color: white;

  @media screen and (max-width: 999px) {
    background: #343434 url(/img/tree-moon_small.jpg) top center no-repeat;
    background-size: cover;

    .content {
      margin-top: 420px;
    }
  }

  @media screen and (min-width: 1000px) {
    margin: 0;
    background: #343434 url(/img/tree-moon.jpg) top left no-repeat;
    
    .content {
      margin-top: 700px;
    }
  }
}
