@import "variable";

.tree-moon {
  color: white;
  margin: 0;
  background: #343434 url(/img/tree-moon.jpg) top left no-repeat;

  .content {
    margin: 650px 100px 100px;
    line-height: 1.4;

    @media screen and (min-width: 1000px) {
      font-size: 1.2em;
      line-height: 1.6;
    }
  }

  @media screen and (max-width: 700px) {
    background-size: 125%;
    background-position: top right;
  
    .content {
      margin: 320px 20px 20px;
    }
  }
}
